body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100vw;
    height: 100vh;
}

.sidebar {
    background-color: #2dd4bf;
    color: white;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 1fr 3fr 2fr;
}

.sidebarHeader {
    grid-row: 1 / 2;
}

.sidebarNav {
    grid-row: 2 / 3;
    display: grid;
}

.sidebarHelp {
    grid-row: 3 / 4;
    display: grid;
}

.header {
    background-color: #f0fdfa;
    grid-column: 2 / 4;
    height: 33.33vh;
}

.mainContent {
    background-color: #ccfbf1;
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 66.67vh;
}

.projects {
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.projectTitle {
    grid-column: 1 / 3;
}

.announcements {
    display: grid;
}

.trending {
    display: grid;
}